.story-point-1 {
  height: 1.2rem;
  width: 1.5rem;
  background-color: #cfcfcf;
  border-radius: 40%;
  text-align: center;
  font-weight: bold;
}
.story-point-2 {
  height: 1.2rem;
  width: 1.5rem;
  background-color: #2e04e5;
  border-radius: 40%;
  text-align: center;
  font-weight: bold;
}

.story-point-3 {
  height: 1.2rem;
  width: 1.5rem;
  background-color: #04e52d;
  border-radius: 40%;
  text-align: center;
  font-weight: bold;
}

body {
  color: #000000;
  font-family: Sans-Serif;
  padding: 30px;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #222222;
}

/* Dropdown */

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-button:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.right-align {
  display: flex;
  align-items: right;
  justify-content: center;
}
.assignee-image {
  height: 2rem;
}

/* .sprint-card {
  width: 100%;
  display: flexbox;
} */
.sprint-issues {
  background-color: #85ccfbb3;
  cursor: pointer;
}
